@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    width:100%;
}
body{
    background-color: #BFB6E2;
    font-family: 'Caveat', cursive;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    position: absolute;
    top:0;
    right:0;
}
article{
    width:50%;
    display: flex;
    flex-direction: column;   
}
article h1{
    font-size: 4rem;
    letter-spacing: 1px;
    color:#221D34;
    font-weight: 700;
    text-shadow: 2px 2px #7062A7;
    padding-bottom: 25px;
}
article p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}